language: php

php:
  - "5.5"

env:
  - DB=mysql

before_script:
 - wget http://getcomposer.org/composer.phar
 - php composer.phar install --dev --no-interaction

before_script:
  - sh -c "[ -d foo ] || mkdir tests/sandbox/model/moa"
  - sh -c "if [ '$DB' = 'mysql' ]; then mysql -e 'drop database if exists moa; create database moa;'; fi"
  - sh -c "if [ '$DB' = 'mysql' ]; then mysql moa < tests/data/moa.sql; fi"
  - sh -c "php ./bin/build.php --namespace \"tests/sandbox\model\moa\" --database moa --username travis --path \"./tests/sandbox/model/moa\" --clean"

script:
 - mkdir -p build/logs
 - phpunit --coverage-clover build/logs/clover.xml

after_script:
 - php vendor/bin/coveralls -v